.cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: #f1f6f5ec;
    align-items: center;
    padding: 0 5rem;
    position: fixed;
    z-index: 1;
    width: 90%;
    top: 0;
}